<!DOCTYPE html>
<html lang="en-GB">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Multiservice E-commerce App</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="wrapper">
        <h1>Welcome to My Multiservice E-Commerce App</h1> 
        <p>Take a look at my products, place your orders, and manage your details on the go.</p>
    </div>
</body>
</html>
