<!DOCTYPE html>
<html lang="en-GB">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products | Multiservice E-commerce App</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="wrapper">
        <h1>All Products</h1>
        <div class="item-container">
            <% products.forEach(product => { %>
                <div class="item">
                    <h2><%= product.name %></h2>
                    <p>Price: $<%= product.price %></p>
                    <img src="<%= product.image %>" alt="<%= product.name %>">
                </div>
            <% }) %>
        </div>
    </div>
</body>
</html>
