<!DOCTYPE html>
<html lang="en-GB">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users | Multiservice E-commerce App</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="wrapper">
        <h1>All Users</h1>
        <div class="item-container">
            <% users.forEach(user => { %>
                <div class="item">
                    <h2>Name: <%= user.name %></h2>
                    <p>Email: <%= user.email %></p>
                    <p>Age: <%= user.age %></p>
                </div>
            <% }) %>
        </div>
    </div>
</body>
</html>
